.quantityContainer {
  background-color: #ffffff;
}

.textQuantity {
  font-size: 0.7rem;
}

.quantityChanger {
  display: flex;
  align-items: center;
  padding: 0.25rem;
  border: 1px solid rgb(201, 201, 201);
  border-radius: 0.5rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.3);
}

.quantity {
  padding: 0 0.25rem;
}

.button {
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 1rem;
  font-size: 1rem;
  padding: 0.25rem;
  width: 100%;
  transition: all 0.3s;
}

.button:hover {
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4) inset;
  background-color: #0f52ba;
  color: white;
}
